header {
    .topLine {
        .container {
            box-sizing: border-box;
            padding-top:5px;
            padding-bottom: 4px;
            .flex();
            justify-content: space-between;
            .sm-block({
                justify-content: center;
            });
            .button {
                .sm-block({
                    padding: 10px 0;
                    flex-grow: 1;
                    text-align: center;
                });
                background: @blue;
                color:@wh;
                padding: 4px 18px;
                font: 24px Myriad;
                text-transform: uppercase;
                cursor: pointer;
            }
            .social {
                .sm-block({
                    order: -1;
                    padding: 10px 0px;
                });
                align-self: flex-end;
                img {
                    vertical-align: middle;
                    margin-right: 15px;
                    .sm-block({
                        padding: 0 5px;
                    });
                }
            }
            .phone {
                .sm-block({
                    order: -2;
                    padding: 10px 0;
                    font-size: 30px;
                });
                img {
                    vertical-align: middle;
                    margin-right: 10px;
                }
                span {
                    .sm-block({
                        font-size: 30px;
                    });
                    font: 24px Myriad;
                    .small {
                        font: 16px Myriad;
                        .sm-block({
                            font-size: 20px;
                        });
                    }
                }
            }
        }
    }
    .underline {
        height: 1px;
        background: #959595;
    }
}
nav {
    padding-top: 7px;
    .container {
        .flex();
        justify-content: space-between;
        .sm-block({
            justify-content: center;
        });
        .menu {
           // .col();
            .size-sm(10);
            align-self: center;
            text-transform: uppercase;
            
            ul {
                .sm-block({
                    text-align: center;
                    padding-bottom: 30px;
                });
                margin-top:34px;
                li {
                    &.active {
                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            background: @blue;
                            height: 5px;
                            margin-top: 34px;
                            margin-left: -12px;
                            padding-left:24px;
                            margin-right: -12px;
                            .sm-block({
                                display: none;
                            });
                        }
                    }
                    margin-left: 28px;
                    display: inline-block;
                    a {
                        font: 18px Myriad;
                        color:#000;
                        text-decoration: none;
                    }
                }
            }
        }   
    }
}